.image{
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-top: 2px;
}
h1{
    display: flex;
    justify-content: center; 
    align-items: center;


}
h2{
    display: flex;
    justify-content: center; 
    align-items: center;  
    font-family: serif;
    font-weight: bold;
}
h3{
    font-weight: bold;
    font-size: large;
    

}
h4{
    font-weight: bold;
    font-size: large;

}
p{
    font-family: sans-serif;
    font-weight: bold;
    

}
li{
    font-family: sans-serif;
    font-weight: bold;
    font-size: medium;

}
.aadhar-image{
    display: flex;
    justify-content: center; 
    align-items: center;
    place-items: center;
    height: 60vh;
    width: 100%;
    
}

